html, body, #root {
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f0f2f5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-message {
  top: 90px !important;
}

@media (max-width: 767px) {
  .ant-message {
    top: 74px !important;
  }
}

.ant-modal-content .ant-modal-body .ant-spin-spinning {
  display: block;
}

.ant-image-preview-mask {
  background: rgba(0, 0, 0, 0.75);
}